@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  transition: color 0.2s ease;
}

button {
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.9;
} 